*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calculator__app{
    min-width: 200px;
    max-width: 400px;
    background-color: rgb(102, 99, 99);
    color: aliceblue;
    margin:30px auto;
    border-radius: 15px;
    padding: 1em 1em;
}
.screen{
   height: 140px;
   margin: 0 auto;
   background-color: rgb(238, 235, 231);
   width: 90%;
   border-radius: 6px;
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
}
.keypad-container{
    padding: 1em 1em;
    display: grid;
     margin: 0 auto;
    width: 90%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    grid-auto-rows: 60px;
     
}
.keypad{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(238, 235, 231);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight:900;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;;
}
